.about-root-container * {
  margin: 0;
  text-decoration: none;
}

.about-hero {
  background-image: url("../../images/hero/frontenac.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.about-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 50px auto;
  padding: 50px auto;
}

.about-container h1, p {
  padding: 20px;
}

.about-container:nth-child(odd) {
  background-color: rgb(245, 255, 245)
}
.about-container:nth-child(even) {
  /* background-color: lightblue */
}

.about-left-container {
  flex: 1 1 60%;
  margin: 20px;
}
.about-right-container {
  flex: 1 1 40%;
  margin: 20px;
}

.about-card {
  flex: 1 1 32%;
  margin: 20px;
  padding: 50px;
  box-shadow: 0 0 10px grey;
  width: 100%;
  height: 100px;
  text-align: center;
  color: darkgreen;
}

.about-image-collage {
  width: 50px;
  height: 50px;
}

.about-image-adventure-collage-container {
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.about-image-adventure-collage {
  flex: 1 1 30%;
  width: 100px;
  height: 100px;
}

.about-body-button {
  display: inline-block;
  /* flex-wrap: nowrap; */
  box-shadow: 0 0 10px black;
  max-width: 200px;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  /* align-self: flex-start */
  /* flex-basis: auto */
  padding: 20px 0;
  margin: 10px 20px;
}

.about-body-button a {
  /* width: 100%; */
  padding: 20px 60px;
  height: 100%;
  width: 100%;
  color: white;
  /* background-color: rgba(0,0,0,0.8); */
}

.about-body-button a:hover {
  background: rgba(255,255,255,0.1);
}

.about-body-button:nth-child(3) {
  background-color: green;
}

.about-body-button:nth-child(4) {
  background-color: darkgreen;
}