.landing-container * {
  margin: 0;
  text-decoration: none;
}

.hero {
  background-color: rgba(20,20,20,0.5);
  /* background-color: transparent; */
  background-image: url("../../images/hero/frontenac.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.landing-title-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: rgba(20,20,20,0.5);
  
  height: 100%;
}

.landing-title {
  font-size: 60px;
  /* margin: 0 100px; */
  margin-top: 80px;
  color: rgb(255, 255, 255);
}
.landing-subtitle {
  font-size: 30px;
  margin: 0 100px;
  color: rgb(219, 219, 219);
  text-align: center;
}

.landing-buttons-container {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.landing-button {
  /* padding: 20px 60px; */
  box-shadow: 0 0 10px black;
  display: flex;
}

.landing-button a {
  width: 100%;
  padding: 20px 60px;
}

.landing-button:nth-child(1) {
  background-color: darkgreen;
  color: white;
}

.landing-button:nth-child(2) {
  background-color: rgb(212, 255, 212);
  color: black;
}

.landing-button:nth-child(1) a {
  color: white;
}

.landing-button:nth-child(2) a {
  color: black;
}