.contact-root-container {
  display: flex;
  overflow:hidden;
  flex-wrap: wrap;
}

.contact-left-container {
  flex: 1 1 60%;
  background-color: darkgreen;
  background-image: url("../../images/contact/nalgene.jpg");
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100vh;
}
.contact-right-container {
  flex: 1 1 40%;
  background-color: rgba(0, 128, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 50vh;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 10%;
  gap: 10px;
  flex-wrap: wrap;
}

.contact-title-container h2 {
  text-align: center;
  margin: 0 10%;
}
.contact-title-container h5 {
  text-align: center;
  margin: 0 10%;
  /* flex: 1 1 100%; */
}

.contact-title-container form input {
  width: 100%;
  height: 30px;
  margin: 5px 0;
}

.contact-title-container form textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
}
.contact-title-container form button {
  width: 100%;
  height: 30px;
  /* margin: 10px 0; */
  background-color: darkgreen;
  color: white;
}

@media (max-width: 768px) {
  .contact-left-container {
    flex: 1 1 100%;
  }

  .contact-right-container {
    flex: 1 1 100%;
  }

  .contact-title-container {
    margin: 0;
    flex-wrap: nowrap;
    width: 100%;
  }
  .contact-title-container * {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-title-container * {
    margin: 0;
    width: 80%;
  }

}